a{
    text-decoration: none;
    color: black;
}
.registeration-form{
    text-align: center;
    /* margin-top: -40px; */
    /* margin-top: 50px; */
    
}
body{
    background: url("https://wallpapercave.com/wp/wp2639536.jpg");
    /* height: 300px; */
    color: white;
    
}
.text-deco{
    color: white;
}
.overlay{
    padding: 4rem;
    background-color: rgb(51 48 48 / 50%);
    padding-bottom: 100px;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 75px;
  }
  .button{
      border-radius: 20px;
  }